.footer {
    background-image: url("../../../public/imagens/fundo.png");
    background-color: #6278F7;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px;
}

.footer span {
    color: white;
    font-size: 18px;
    
}

.logo {
    margin: 15px;
}