.card {
    margin: 80px 0;
    display: flex;
    justify-content: center;
}

.card form {
    max-width: 80%;
    border-radius: 20px;
    background: #F6F6F6;
    padding: 36px 64px;
    box-shadow: 7px 7px 15px 0px rgba(0, 0, 0, 0.08);
}

.card h2 {
    color: #212121;
    font-family: Prata;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}