#Python3
Python3/Programas/.idea
Python3/Programas/Introdução à nova versão da linguagem e Avançando na linguagem/__pycache__

#Java
Java/Programas/java-pilha/.classpath
Java/Programas/java-pilha/.project
Java/Programas/java-pilha/.settings

Java/Programas/sintaxe-basica/.classpath
Java/Programas/sintaxe-basica/.project
Java/Programas/sintaxe-basica/.settings

Java/Programas/sintaxe-variaveis-e-fluxo/.classpath
Java/Programas/sintaxe-variaveis-e-fluxo/.project
Java/Programas/sintaxe-variaveis-e-fluxo/.settings

Java/Programas/bytebank-herdado-conta/.settings
Java/Programas/bytebank-herdado-conta/.classpath
Java/Programas/bytebank-herdado-conta/.project

Java/Programas/byte-bank-herdado/.settings
Java/Programas/byte-bank-herdado/.classpath
Java/Programas/byte-bank-herdado/.project

Java/Programas/byte-bank-composto/.settings
Java/Programas/byte-bank-composto/.classpath
Java/Programas/byte-bank-composto/.project

Java/Programas/byte-bank/.settings
Java/Programas/byte-bank/.classpath
Java/Programas/byte-bank/.project
